/* New Styling ************************ */
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1c1d25;
}

/* Main Content --------------------------------- */

main {
    margin: 0.25em;
    padding: 0.25em;
    /* Flex Atrributes */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    box-sizing: border-box;
    row-gap: 0;
    column-gap: 0;
}

section {
    background-color: white;
}

/* Navigation ------------------------------- */

nav {
    color: white;
    font-size: 40px;
    /* Flex Attributes */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    box-sizing: border-box;
}

nav img {
    height: 100px;
    padding: 10px;
    /* Flex Attributes */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    box-sizing: border-box;
}

nav ul {
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
    /* Flex Attributes */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

nav ul li {
    padding-left: 15px;
    padding-right: 15px;
    /* Flex Attributes */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

li a:hover {
    color: black;
    background-color: whitesmoke;
    cursor: pointer;
}

nav .hamburger {
    display: none;
}

nav .hamburger:focus {
    outline: 0;
}

/* Hero Section ------------------------------------ */

.hero {
    height: 90vh;
    color: white;
    background-color: #1c1d25;
    font-size: 40px;
    padding: 10px;
    /* Flex Attributes */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    box-sizing: border-box;
}

.hero-info {
    word-wrap: break-word;
    padding: 20px;
    /* Flex Attributes */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    box-sizing: border-box;
    row-gap: 1em;
}

.hero-title h1 {
    margin: 0;
    /* font-size: 60px; */
    font-size: clamp(2.5rem, 8vw, 4rem);
    /* Flex Attributes */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.hero-title p {
    margin: 0;
    font-weight: 300;
    /* font-size: 30px; */
    font-size: clamp(1rem, 5vw, 2rem);
    /* Flex Attributes */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.hero-info .button {
    width: fit-content;
    border-radius: 40px;
    text-align: center;
    background-color: coral;
    /* font-size: 30px; */
    font-size: clamp(1rem, 5vw, 2rem);
    font-weight: 300;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hero-info .button:hover {
    background-color: #ef744b;
    cursor: pointer;
}

.hero-socials {
    /* Flex Attributes */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    align-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    row-gap: 0.5em;
    column-gap: 0;
}

.hero-socials .social {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.hero-socials .social:hover {
    opacity: 65%;
}

/* About Section ------------------------------------ */

.about {
    padding: 25px;
    /* Flex Attributes */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    box-sizing: border-box;
    column-gap: 1em;
}

.about-info h2 {
    /* font-size: 50px; */
    font-size: clamp(2rem, 8vw, 3rem);
    margin: 0;
}

.about-info p {
    /* font-size: 30px; */
    font-size: clamp(1rem, 5vw, 1.5rem);
    font-weight: 300;
    word-wrap: break-word;
}

.about-headshot {
    display: flex;
    align-items: center;
}

.about-headshot img {
    border-radius: 150px;
    width: 300px;    
}

/* Projects Section ------------------------------------ */

.projects {
    padding: 25px;
    height: fit-content;
    /* Flex Attributes */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    box-sizing: border-box;
    row-gap: 20px;
    column-gap: 0;
}

.projects h2 {
    /* font-size: 50px; */
    font-size: clamp(2rem, 8vw, 3rem);
    margin: 0;
    text-align: center;
}

.projects h4 {
    text-align: center;
}

.projects h4 a {
    text-decoration: none;
    color: #ef744b;
}

.projects h4 a:hover {
    text-decoration: underline #ef744b;
}

/* Projects List ------------------------------------------ */

.projects .projects-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 10px;
    grid-auto-flow: row;
}

.projects-list .projects-card {
    margin: 0;
    padding: 10px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    border-radius: 20px;
}

.projects-image {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    box-sizing: border-box;
    row-gap: 5px;
}

.projects-image img {
    width: 150px;
    border: 2px solid black;
    border-radius: 125px;
}

.projects-card h3 { 
    /* font-size: clamp(1rem, 4vw, 1.2rem); */
    text-align: center;
}

.projects-card p {
    font-size: 15px;
    /* font-size: clamp(0.8rem, 3vw, 1rem); */
    font-weight: 300;
}

.projects-link {
    text-align: center;
    padding: 0;
    margin: 0;
}

.projects-card p a {
    text-decoration: none;
    color: #ef744b;
}

.projects-card p a:hover {
    text-decoration: underline;
}

/* Contact Footer ----------------------------------- */

footer {
    padding: 25px;
    background-color: #2c3345;
}

footer h2 {
    /* font-size: 50px; */
    font-size: clamp(2rem, 8vw, 3rem);
    margin: 0;
    color: white;
    text-align: center;
}

/* Media Queries -------------------------------------- */

@media only screen and (max-width: 1000px) {
    nav img {
        display: none;
    }

    nav .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    nav .hamburger:hover {
        /* color: black; */
        /* background-color: whitesmoke; */
        cursor: pointer;
    }

    nav ul {
        display: none;
        background-color: #2b2c38;
        margin: 0ppx;
    }

    nav {
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
        background-color: #2b2c38;
        box-sizing: border-box;
    }

    nav ul.show {
        display: block;
    }

    .projects .projects-list {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 20px;
    }

    .projects-card {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }

    .about-headshot {
        display: none;
    }
}