body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
}

section {
    /* height: 500px; */
    background-color: white;
    /* border: solid black 1px; */
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    /* height: 500px; */
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    /* width: 200px; */
    text-decoration: none;
}

li a:hover {
    color: black;
    background-color: whitesmoke;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

h3 {
    margin-left: 2px;
    margin-right: 2px;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
    margin-left: 5px;
    margin-right: 5px;
}

.hero-area {
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 40px;
    text-align: center;
    background-color: coral;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
    justify-content: left;
}

.logo {
    height: 100px;
    margin: 30px;
}

.social {
    margin: 20px;
}

.social:hover {
    opacity: 65%;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 520px;
    /* height: 100%; */
    /* border: 1px solid black; */
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

h4 {
    margin-top: 5%;
}

.project-container {
    /* display: flex; */
    display: grid;
    justify-content: space-around;
    grid-template-columns: 20% 20% 20% 20%;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }

    .headshot {
        display: none;
    }
}

.project-image {
    margin-top: 25px;
    width: 200px;
    border: 2px solid black;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

.project-link:hover {
    text-decoration: underline #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}




@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0ppx;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    }
}

form {
    margin: 0 5px 0 0;
}